<?xml version="1.0"?>
<!--
Copyright (C) 2015 E-ComProcessing™

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

@author      E-ComProcessing
@copyright   2015 E-ComProcessing™
@license     http://opensource.org/licenses/gpl-2.0.php GNU General Public License, version 2 (GPL-2.0)
-->
<config>
    <modules>
       <EComProcessing_Genesis>
         <version>1.2.5</version>
       </EComProcessing_Genesis>
    </modules>

    <global>
        <blocks>
            <ecomprocessing>
                <class>EComProcessing_Genesis_Block</class>
            </ecomprocessing>
        </blocks>

        <models>
            <ecomprocessing>
                <class>EComProcessing_Genesis_Model</class>
            </ecomprocessing>
        </models>

        <helpers>
            <ecomprocessing>
                <class>EComProcessing_Genesis_Helper</class>
            </ecomprocessing>
        </helpers>

        <payment>
            <groups>
                <ecomprocessing>EComProcessing</ecomprocessing>
            </groups>
        </payment>
        
        <events>
            <ecomprocessing_genesis_init_library>
                <observers>
                    <EComProcessing_Genesis>
                        <class>EComProcessing_Genesis_Observer_GenesisAutoLoader</class>
                        <method>addAutoLoad</method>
                    </EComProcessing_Genesis>
                </observers>
            </ecomprocessing_genesis_init_library>
        </events>
        
    </global>

    <frontend>
        <routers>
            <ecomprocessing>
                <use>standard</use>
                <args>
                    <module>EComProcessing_Genesis</module>
                    <frontName>ecomprocessing</frontName>
                </args>
            </ecomprocessing>
        </routers>
        <secure_url>
            <ecomprocessing>/ecomprocessing/</ecomprocessing>
        </secure_url>
        <translate>
            <modules>
                <EComProcessing_Genesis>
                    <files>
                        <default>EComProcessing_Genesis.csv</default>
                    </files>
                </EComProcessing_Genesis>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <EComProcessing_Genesis>
                    <files>
                        <default>EComProcessing_Genesis.csv</default>
                    </files>
                </EComProcessing_Genesis>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <payment>
            <ecomprocessing_direct>
                <model>ecomprocessing/direct</model>
                <order_status>pending</order_status>
                <title>Credit Card (ECP Direct)</title>
                <cctypes>VI,MC,SM,AE,DI,JCB,OT</cctypes>
                <payment_action>authorize</payment_action>
                <group>ecomprocessing</group>
            </ecomprocessing_direct>
            <ecomprocessing_checkout>
                <model>ecomprocessing/checkout</model>
                <order_status>pending</order_status>
                <title>Credit Card (ECP Checkout)</title>
                <payment_action>order</payment_action>
                <group>ecomprocessing</group>
            </ecomprocessing_checkout>
         </payment>
    </default>
</config>
